@model OnlineShop.Models.ItemFinal

<h2>Details</h2>
<div>
    <hr />
    <div class='tableKO'>
            <table id="productsTable" >
                <thead>
                    <tr>
                        <th id="Image">Image</th>
                        <th id="ItemID">ItemID</th>
                        <th id="ViewItemURLForNaturalSearch">eBay Url</th>
                        <th id="Price">Price</th>
                        <th id="EndTime">Ending time</th>
                        <th id="Category">Category</th>
                    </tr>
                </thead>
                <tbody data-bind="vm">
                    <tr>
                        <td><img data-bind="attr: {src:'data:image;base64,' + Image}" height=80 width=80 /></td>
                        <td data-bind="text: ItemID"></td>
                        <td><a data-bind="text: Title, attr: {href: ViewItemURLForNaturalSearch}"></a></td>
                        <td data-bind="text: Price"></td>
                        <td data-bind="text: EndTime"></td>
                        <td><a data-bind="text: PrimaryCategoryName, attr: {href: '/Home/SaveProducts?param=' + PrimaryCategoryID}"></a></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <script type="text/javascript">
            var jsonData = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
            function Product(jsonData) {
                var self = this;
                self.Image = jsonData.Image;
                self.ItemID = jsonData.ItemID;
                self.Title = jsonData.Title;
                self.Price = ko.computed(function() {
                    return "$" + jsonData.Price.toFixed(2);
                });
                self.EndTime = ko.computed(function() {
                    return new Date(jsonData.EndTime);
                });
                self.PrimaryCategoryName = jsonData.PrimaryCategoryName;
                self.PrimaryCategoryID = jsonData.PrimaryCategoryID;
                self.ViewItemURLForNaturalSearch = jsonData.ViewItemURLForNaturalSearch;
            }
            var vm = new Product(jsonData);
            ko.applyBindings(vm);
        </script>
</div>

<p>
    @Html.ActionLink("Back to List", "Index")
</p>
