@model OnlineShop.Models.ItemFinal

<h2>Details</h2>
<div>
    <h4>ProductView</h4>
    <hr />
    <div class='tableKO'>
            <table id="productsTable">
                <thead>
                    <tr>
                        <th></th>
                        <th id="ItemID">ItemID</th>
                        <th id="ViewItemURLForNaturalSearch">PrimaryCategoryName</th>
                        <th id="Price">Price</th>
                        <th id="Category">Category</th>
                    </tr>
                </thead>
                <tbody data-bind="vm">
                    <tr>
                        <td><img data-bind="attr: {src:'data:image;base64,' + Image}" height=80 width=80 /></td>
                        <td data-bind="text: ItemID"></td>
                        <td><a data-bind="text: Title, attr: {href: ViewItemURLForNaturalSearch}"></a></td>
                        <td data-bind="text: Price"></td>
                        <td><a data-bind="text: PrimaryCategoryName, attr: {href: '/Home/SaveProducts?param=' + PrimaryCategoryID}"></a></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <script type="text/javascript">
            var jsonData = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
            function Product(jsonData) {
                var self = this;
                self.Image = jsonData.Image;
                self.ItemID = ko.observable(jsonData.ItemID);
                self.Title = ko.observable(jsonData.Title);
                self.Price = ko.observable(jsonData.Price);
                self.PrimaryCategoryName = ko.observable(jsonData.PrimaryCategoryName );
                self.PrimaryCategoryID = ko.observable(jsonData.PrimaryCategoryID );
                self.ViewItemURLForNaturalSearch = ko.observable(jsonData.ViewItemURLForNaturalSearch);
            }
            var vm = new Product(jsonData);
            ko.applyBindings(vm);
        </script>
</div>

<p>
    @Html.ActionLink("Back to List", "Index")
</p>
