@model OnlineShop.Models.LocalItem

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <span id="ViewItemURLForNaturalSearch">eBay Url</span>
        </dt>
        <dd>
            <span><a data-bind="text: Title, attr: {href: ViewItemURLForNaturalSearch}"></a></span>
        </dd>
        <dt>
            <span id="ItemID">ItemID</span>
        </dt>
        <dd>
            <span data-bind="text: ItemID"></span>
        </dd>
        <dt>
            <span id="Price">Price</span>
        </dt>
        <dd>
            <span data-bind="text: '$' + Price.toFixed(2)"></span>
        </dd>
        <dt>
            <span id="EndTime">Ending time</span>
        </dt>
        <dd>
            <span data-bind="text: EndTime"></span>
        </dd>
        <dt>
            <span id="Category">Category</span>
        </dt>
        <dd>
            <span><a data-bind="text: PrimaryCategoryName, attr: { href: '/Home/SaveProducts?param=' + PrimaryCategoryID }"></a></span>
        </dd>
        <dt>
            <span id="Image">Image</span>
        </dt>
        <dd>
            <span><img data-bind="attr: {src:'data:image;base64,' + Image}" height=80 width=80 /></span>
        </dd>
    </dl>
</div>

<script type="text/javascript">
    ko.applyBindings(@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model)));
</script>
