@model IEnumerable<OnlineShop.Models.StoreItem>
@using Newtonsoft.Json;
<div class='tableKO'>
    <div data-bind='simpleGrid: gridViewModel, simpleGridTemplate: "custom_grid_template"'></div>
    <script type="text/html" id="custom_grid_template">
        <table class="ko-grid" cellspacing="0">
            <thead>
                <tr data-bind="foreach: columns">
                    <th data-bind="text: headerText"></th>
                </tr>
            </thead>
            <tbody data-bind="foreach: itemsOnCurrentPage">
                <tr data-bind="foreach: $parent.columns">
                    <!--ko if: headerText == 'Title'-->
                    <td>
                        <a data-bind="text: $parent.Title, attr: {href: '/Products/Details?id=' + $parent.ItemID}" />
                    </td>
                    <!-- /ko -->
                    <!--ko if: headerText == 'Category'-->
                    <td>
                        <a data-bind="text: $parent.PrimaryCategoryName, attr: {href: '/Home/SaveProducts?param=' + $parent.PrimaryCategoryID}" />
                    </td>
                    <!-- /ko -->
                    <!--ko if: headerText == 'Image'-->
                    <td>
                        <img data-bind="attr: {src:'data:image;base64,' + $parent.Image}" height=75 width=75 />
                    </td>
                    <!-- /ko -->
                    <!--ko ifnot: headerText == 'Image' ||  headerText == 'Category' ||  headerText == 'Title' ||(typeof rowText == 'object' && typeof rowText.action == 'function')-->
                    <td data-bind="text: typeof rowText == 'function' ? rowText($parent) : $parent[rowText] "></td>
                    <!--/ko-->
                </tr>
            </tbody>
        </table>
    </script>

    <button data-bind='click: jumpToFirstPage, enable: gridViewModel.currentPageIndex'>
        <<
    </button>
    <button data-bind='click: sortByTitle'>
        Sort by Title
    </button>
    <button data-bind='click: sortByPrice'>
        Sort by Price
    </button>
    @*<button data-bind='click: jumpToLastPage, enable: gridViewModel.currentPageIndex'>
            >>
        </button>*@
</div>

@{
    JsonConvert.DefaultSettings = () => new JsonSerializerSettings { StringEscapeHandling = StringEscapeHandling.EscapeHtml };
}
<script type="text/javascript">
    var jsonData = @Html.Raw(JsonConvert.SerializeObject(Model));
</script>
<script src="~/App/PagedGridModel.js"></script>