<div class="center" style="padding-top: 50px;">
    <p>Search Top items by category.</p>
    <p><select data-bind="options: topCategories,
                       optionsText: 'name',
                       value: selectedCategory,
                       optionsCaption: 'Choose the category:'" style="min-width: 480px"></select>
    </p>

    <p>
        <div data-bind="visible: selectedCategory " style="position: center; ">
            You have chosen a category with id
            <span id="selectedCategory" data-bind="text: selectedCategory() ? selectedCategory().id : 'unknown'"></span>.
        </div>
    </p>

    <p>
        <a href='javascript:void(0)' id="btnPush" onclick='process(vm.selectedCategory().id);' class='btn btn-primary' data-bind='visible: selectedCategory'>Proceed request</a>
    </p>
    <script src="~/App/Startup.js"></script>
</div>
