<p>
    Category:
    <select data-bind="options: topCategories,
                       optionsText: 'name',
                       value: selectedCategory,
                       optionsCaption: 'Choose...'"></select>
</p>

<div data-bind="visible: selectedCategory">
    You have chosen a Category with id
    <span data-bind="text: selectedCategory() ? selectedCategory().id : 'unknown'"></span>.
</div>
<button data-bind='click: proceed'>Submit</button>

@*<a href="#" data-bind="event: { click: $parent.navigateManageReturns }, text: OrderNo"></a>*@


<p>
    @Html.ActionLink("Create New", "Create")
</p>