@model IEnumerable<OnlineShop.Models.Item>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<p>
    Category:
    <select data-bind="options: topCategories,
                       optionsText: 'name',
                       value: selectedCategory,
                       optionsCaption: 'Choose...'"></select>
</p>

<div data-bind="visible: selectedCategory">
    You have chosen a Category with id
    <span data-bind="text: selectedCategory() ? selectedCategory().id : 'unknown'"></span>.
</div>
<button data-bind='click: proceed'>Submit</button>


<p>
    @Html.ActionLink("SaveProducts", "SaveProducts")
</p>

<script src="~/App/app.js"></script>