.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar-nav > li > a { padding-top:0.4em !important; padding-bottom:0.4em !important; }
.navbar { min-height: 0.2em !important; vertical-align: central; margin-bottom: 0.2em !important;  }

body{
    background: silver;
}
/* Set padding to keep content from hitting the edges */
container {
    padding-left: 5px;
    padding-right: 5px;
}

.jumbotron {
    min-height: 62.5em !important;
    padding-top: 2em !important; 
    padding-bottom: 2em !important; 
}

.center { position: center; margin: auto; width: 50%; }

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt, dd {
    white-space: initial;
    padding: 0.1em;
    /*text-align: start*/
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    min-width: 200px;
}

.tableKO input { font-family: Arial; }
.tableKO b { font-weight: bold; }
.tableKO p { margin-top: 0.5em; margin-bottom: 0.9em; }
.tableKO select[multiple] { width: 100%; height: 8em; }
.tableKO h2 { margin-top: 0.2em; }
.ko-grid { margin-bottom: 1em; border: 1px solid silver; background-color:White; }
.ko-grid th { text-align:left; background-color: Black; color:White; }
.ko-grid td, th { padding: 0.4em; margin: 1em }
.ko-grid tr:nth-child(odd) { background-color: #DDD; }
.ko-grid-pageLinks { margin-bottom: 1em; }
.ko-grid-pageLinks a { padding: 0.5em; }
.ko-grid-pageLinks a.selected { background-color: Black; color: White; }
.tableKO { overflow: auto } /* Mobile Safari reflows pages slowly, so fix the height to avoid the need for reflows */

li { list-style-type: disc; margin-left: 20px; }

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.DescriptionFrame { width:100%; height: 800px; }

.footer {
position:fixed;
    bottom:0px;
    height: auto !important;
    left:0;
    right:0;
    color: #ffffff;
    background-color: #222222;
    vertical-align: middle;
}

footer > p {
    height: 1.8em !important;
    vertical-align: middle;
    text-align: center;
    padding-top:0.2em !important; 
    padding-bottom:0.2em !important; 
}

/*.canvasjs-chart-canvas {
    position: relative !important;
}
.canvasjs-chart-toolbar {
    position: relative !important;
}
.canvasjs-chart-tooltip {
    position: relative !important;
}
.canvasjs-chart-credit {
    position: relative !important;
}*/



