<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="ProductContext" connectionString="Data Source=(localdb)\MSSQLLocalDB; integrated Security=True; User Id=sh2dow; Initial Catalog=ProductContext; AttachDbFilename=|DataDirectory|ProductContext.mdf" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <!-- eBay developer application id-->
    <add key="AppID" value="IgLov-OnlineSh-PRD-32466ad44-6e57bd31" />
    <!-- eBay Finding service address-->
    <add key="FindingApiAddress" value="http://svcs.ebay.com/services/search/FindingService/v1?SERVICE-VERSION=1.13.0" />
    <!-- eBay Finding service production address-->
    <add key="ShoppingApiAddress" value="http://open.api.ebay.com/shopping?version=957" />
    <!-- eBay token for sandbox or production -->
    <add key="EBayToken" value="AgAAAA**AQAAAA**aAAAAA**LO+5WA**nY+sHZ2PrBmdj6wVnY+sEZ2PrA2dj6ABmYSgDpKFqAydj6x9nY+seQ**QqMDAA**AAMAAA**obxcvz/w1ZDbjhrEJf9/YfQSaPYySKk94P8tKiWdzoUuDWjfccuDjwgGfgVuGeX7U5GhgDR8v2rMq1JRPsrml0Xc2el2KAyWqbQ2Cw4Tgqz/MN0RxYlLvbRRTA9EkFfnrBb6GsA1LCuMVejCB1Ohay83fVn8zWNB5wDxhP3PxdoQtIDGF7zdnSnb721jkB7rvB3dAf40O1T4qqaiX6s/cMMua3UQAfQb8nC7ANgMWrim/8g5ck30h08nmxKdDDUSAIQ4IpLh9WYE0qke+AU4OpuAGRok/UWh72SnnZBYROH+uGUZwt00SVzvfkokV1kXeMPLxeDfztrQyn36CiyX0N2/bEt2fLYbfl7NNLzr0m6DNVxTidF9Hwj3ZkO1TiTQrIhSEijwLcV1oEOgNy7zvfT/z2ghlg17QHVlWQqGQATZqBWQqYI1D0B7Y1lgmkGQGS/Fl4qMF/jM/6aLMSgO1A9T6qOzIMxd0e+SZaRGxNFPR4oz6QZOA8BV9tyOxr+H7Y/HbKw8ZjUqZAiOACu2X3c4UF1dkZFFQAZFZLbFHOOxPy4FM4o0AvtGEJO1c4yeQlRrRrdu+KwHrauwGTCRdpqjMDlJIqB2qfCmwc9dOyAkkhk5GT5mIV6peX4ydvQSqAGNRUsNfPyidQYyso65QzTT27mxfq6IxufxBJZ1pqdC2rsV5CaYvA9drx7YSFtx+4ZC59+3wNGASqzKoXot9Z6gG3bOxOaoCOJgJBV/QbbHnbqiGAeeEXJhbF9T5YWa" />
    <!-- eBay Trading API production address-->
    <add key="TradingServerAddress" value="https://api.ebay.com/wsapi" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Mono.Reflection" publicKeyToken="0738eb9f132ed756" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DelegateDecompiler" publicKeyToken="93b26a10a04705bd" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Content-Type" />
        <add name="Access-Control-Allow-Methods" value="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>